{% extends 'scraping/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <form method="POST" action="" style="padding: 50px;
  background: #ccc;
  position: fixed; top: 40%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);" class="my-4">
    {% csrf_token %}
    {{ form.as_p }}
      <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
    <button name="submit" class="btn btn-primary">Sign Up</button>
    </form>

{% endblock content %}